<main>

		<h2>You are viewing:

			{{donut.name}}

		</h2>

		<a href="/donuts">Return to Home Page</a>

		<div class="donut-container-show">
			<h2 id="donut-name">

					{{donut.name}}

			</h2>

					<img src="{{donut.img}}">

			<br>
			<h3>Description:</h3>
				<p>

					{{donut.description}}

				</p><br>
			<h3>Price:</h3>
				<p id="cost">$

					{{donut.price}} each</p><br>

				<h3 id="quantity">

		 				{{donut.qty}} remaining

				</h3>

				<br>

				<button><a href="/donuts/{{donut.id}}/edit">EDIT DONUT DETAILS</a></button>

				<!-- <button><a href="/{{donut.id}}/edit">EDIT DONUT DETAILS</a></button> -->

			</div>

			<<<< BUTTON THAT DELETED THE DONUT >>>>
	</main>
</body>
</html>
