<h1>{{data.name}}</h1>
<h2></h2>
<ul>
	<li>Birthplace: {{data.birthplace}}</li>
	<li>Year of Death: {{data.death_year}}</li>
	<li>Based in: {{data.base}}</li>
	<li>Nickname: {{data.nickname}}</li>
</ul>