<h1>My PokeDex</h1>
<h2>You have caught {{data.length}} Pokemon!</h2>
<ul>
  {{#each data}}
    <li><a href="/pokemon/{{@index}}">{{name}}</a></li>
    <button class="btn btn-primary"><a href="/pokemon/{{@index}}/edit">Edit</a></button>
     <br>
     <form action="/pokemon/{{@index}}?_method=DELETE" method="POST"> 
     <input type="submit" value="DELETE"/>
    </form>
  {{/each}}
</ul>

<div>
  <form action="/pokemon/new">
    <input type="submit" value="Add a New Pokemon"/>
  </form>
</div>